.page{
    text-align: center;
    font-family: Cambria, Arial;
    color: #555555;
}

.btn{
    background: darkred;
    height: 40px;
    width: 70px;
    border-radius: 3px;
    font-family: Cambria, Arial;
    color: #ffffff;
    border: 0px;
    font-size: smaller;

}
p{
    font-size: smaller;
}

input{
    padding: 1em;
}

fieldset{
    text-align: left;
}

input.ng-invalid.ng-touched{
    border:1px solid red;
}

input.ng-valid.ng-touched{
    border: 1px solid green;
}

.ng-invalid .btn{
    background: gray;
}

.error{
    color: red;
}
